%h1 Badges
.span8
  %table#cc5kbadgetable
    %thead
      %tr
        %th Title
        %th Description
        %th
        %th
        %th
    %tfoot
      %tr
        %th Title
        %th Description
        %th
        %th
        %th
    %tbody
      - @badges.each do |badge|
        %tr
          %td= badge.title
          %td= badge.description
          %td
            %a.btn.btn-mini{href: "/badges/#{badge.id}"} Show
          %td
            %a.btn.btn-mini{href: "/badges/#{badge.id}/edit"} Edit
          %td= link_to 'Destroy', badge, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
= link_to 'New Badge', new_badge_path

:javascript
  $(document).ready(function()
  {
    $('#cc5kbadgetable').dataTable();
  });