= form_for(@user) do |f|
 %table
  %tr
   %td
    = f.label :firstName
   %td
    = f.text_field :firstName
  %tr
   %td
    = f.label :lastName
   %td
    = f.text_field :lastName
  %tr
   %td
    = f.label :email
   %td
    = f.text_field :email
  %tr
   %td
    = f.label:state
   %td
    = f.select(:state,$stateMap)
 = f.submit "Update"
= @user.inspect
