%h1 Listing factors

%table
  %tr
    %th Name
    %th Amount
    %th Statistic Id
    %th Dependency
    %th

  - @factors.each do |factor|
    %tr
      %td= factor.name
      %td= factor.amount
      %td= factor.statistic_id
      %td= factor.dependency
      %td= link_to 'Show', factor
      %td= link_to 'Edit', edit_factor_path(factor)
      %td= link_to 'Destroy', factor, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Factor', new_factor_path
