%h1 Listing statistics
%table#cc5kstatistictable
  %thead
    %tr
      %th Description
      %th Equation
      %th
      %th
      %th
  %tfoot
    %tr
      %th Description
      %th Equation
      %th
      %th
      %th
  %tbody
    - @statistics.each do |statistic|
      %tr
        %td= statistic.description
        %td= statistic.equation
        %td= link_to('Show', statistic, :class => 'btn btn-mini')
        %td= link_to('Edit', edit_statistic_path(statistic), :class => 'btn btn-mini')
        %td= link_to('Destroy', statistic, :class => 'btn btn-mini', :method => :delete, :data => { :confirm => 'Are you sure?' })
%br

= link_to 'New Statistic', new_statistic_path

:javascript
  $(document).ready(function()
  {
    $('#cc5kstatistictable').dataTable();
  });
