%p#notice= notice

%p
  %b Name:
  = @mission.name
%p
  %b Description:
  = @mission.description
%p
  %b Value:
  = @mission.value
%p
  %b User:
  = @mission.user_id

= link_to 'Edit', edit_mission_path(@mission)
\|
= link_to 'Back', missions_path
