%h1 Listing Emissions

%table
  %tr
    %th Indirection
    %th Type
    %th 
    %th
    %th
    

  - @usage_types.each do |usage_type|
    %tr
      %td= usage_type.indirection
      %td= usage_type.type
      %td= link_to 'Show', usage_type
      %td= link_to 'Edit', edit_usage_type_path(usage_type)
      %td= link_to 'Destroy', usage_type, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Usage type', new_usage_type_path
