%h2.header.typeout G.E.R.A Armory
%h6
  Here, you may spend resources that you earn when completing missions.
%h6 This is the final step to fighting against Big Petroleum.
%h3
  Agent:
  = "#{@user.firstName} #{@user.lastName}"
  %span.glyphicon.glyphicon-tree-conifer
  = "#{@user.effective_score}"

%table.badgetable
  %th{style: "width: 200px;"}
  %th{style: "width: 200px;"}
  %th{style: "width: 100px;"}
  - purchasable_items = 0

  - if @user.wallpaper_id < 4
    - purchasable_items += 1
    %tr{style: "height: 150px"}
      %td= image_tag "background-rank#{@user.wallpaper_id + 1}_gray.jpg", width: 100
      %td= link_to "Upgrade Environment", upgrade_wallpaper_path
      %td
        %span.glyphicon.glyphicon-tree-conifer
        = "#{@user.wallpaper_id * 100}"

  - if !EarnedBadge.IsEarned?(@user, "High Roller")
    - purchasable_items += 1
    %tr{style: "height: 150px"}
      %td= image_tag "badge3_gray.png", width: 100
      %td= link_to "High Roller Badge", buy_high_roller_badge_path
      %td
        %span.glyphicon.glyphicon-tree-conifer
        1000

  - if purchasable_items == 0
    %td There is nothing left to buy.
    %td
    %td
