#sidebar-wrapper
  - if current_user != nil
    - anon = AnonUser.find_by(ip: request.remote_ip)
    - if anon != nil
      - anon.delete
    %ul.sidebar-nav
      %li.sidebar-brand= link_to 'G.E.R.A', root_path, :id => 'hq'
      %li.sidebar-brand= link_to 'Mission Objective', mission_objective_path, :id => 'misobj'
      %li.sidebar-brand= link_to "#{current_user.lastName}: Personnel File", edit_user_registration_path , :id => 'prof'
      %li.sidebar-brand= link_to "Intelligence", contribution_path, :id => "contrib"
      %li.sidebar-brand= link_to 'Missions', wizard_path, :id => "missions"
      %li.sidebar-brand= link_to 'Log out', destroy_user_session_path, :method => 'delete', :id => "lgout"
      - if !current_user.visited_page.include?("navigation")
        - current_user.visited_page += "navigation"
        - current_user.save
        :javascript 
          $.guider({
          name: "first",
          next: "second",
          title: "Welcome!",
          description: "Stuff",
          overlay: "dark",
          width: 400,
          position: "right",
          alignButtons: "right",
          closable: true,
          buttons: {
          Close: true,
          Next: {
          click: true,
          className: "primary"
          }}}).show()

          $("#prof").guider({
          name: "second",
          next: "third",
          title: "Personnel File",
          description: "Here you will be able to update any personal information that we have about you in an effort to better evaluate your progess",
          overlay: "dark",
          width: 400,
          position: "right",
          alignButtons: "right",
          closable: true,
          buttons: {
          Close: true,
          Next: {
          click: true,
          className: "primary"
          }}})
          $("#contrib").guider({
          name: "third",
          next: "forth",
          title: "Intelligence",
          description: "This is where you can see visually how you are progessing in the alliance.",
          overlay: "dark",
          width: 400,
          position: "right",
          alignButtons: "right",
          closable: true,
          buttons: {
          Close: true,
          Next: {
          click: true,
          className: "primary"
          }}})
          $("#missions").guider({
          name: "forth",
          next: "finally",
          title: "Missions",
          description: "To earn badges, you must enter information about your emissions so that we can calculate your progess.",
          overlay: "dark",
          width: 400,
          position: "right",
          alignButtons: "right",
          closable: true,
          buttons: {
          Close: true,
          Next: {
          click: true,
          className: "primary"
          }}})
          $("#lgout").guider({
          name: "finally",
          title: "Logging Out",
          description: "Whenever you want to leave, click this link and you will be logged out.",
          overlay: "dark",
          width: 400,
          position: "right",
          alignButtons: "right",
          closable: true,
          buttons: {
          Close: true
          }})
  - else
    - if current_user == nil
      - anon = AnonUser.where(ip: request.remote_ip).first_or_create
    %ul.sidebar-nav
      %li.sidebar-brand= link_to 'G.E.R.A', root_path , :id => 'hq'
      %li.sidebar-brand= link_to 'Mission Objective', mission_objective_path, :id => 'misobj' 
      %li.sidebar-brand= link_to 'LOGIN', new_user_session_path, :id => 'lgin'
      %li.sidebar-brand= link_to 'Join The Alliance', new_user_registration_path, :id => 'reg'
    - if current_user == nil && !anon.visited_page.include?("navigation")
      - anon.visited_page += "navigation"
      - anon.save
      :javascript
        $.guider({
        next: "second",
        title: "Navigation",
        description: "To start the basic site navigation guide, clock <b>Next</b>",
        overlay: "dark",
        draggable: true,
        buttons: {
        Close: true,
        Next: {
        click: true,
        className: "primary",
        focus: true
        }
        }
        }).show()
        
        $("#hq").guider({ 
        name: "second",
        next: "third",
        title: "Head Quarters",
        description: "Click on this tab to navigate to G.E.R.A. HQ",
        width: 400,
        position: "right",
        alignButtons: "right",
        closable: true,
        buttons: {
        Close: true,
        Next: {
        click: true,
        className: "primary"
        }}})
        
        $("#misobj").guider({
        name: "third",
        next: "forth",
        title: "Mission Objectives",
        description: "Here you will find out what the G.E.R.A. is all about,and how, with your help, we can change the world!",
        width: 400,
        position: "right",
        alignButtons: "right",
        closeable: true,
        buttons: {
        Close: true,
        Next: {
        click: true,
        className: "primary"
        }}})
        
        
        $("#lgin").guider({
        name: "forth",
        next: "finally",
        title: "Logging In",
        description: "If you have already joined the alliance, clicking this link will send you to the login screen. No go out there",
        width: 400,
        position: "right",
        alignButtons: "right",
        closeable: true,
        buttons: {
        Close: true,
        Next: {
        click: true,
        className: "primary"
        }}})
        
        $("#reg").guider({
        name: "finally",
        title: "Registration",
        description: "Click this link to join the alliance today!",
        width: 400,
        position: "right",
        alignButtons: "right",
        closeable: true,
        buttons: {
        Close: true
        }})
