#sidebar-wrapper
  %ul.sidebar-nav
    %li.sidebar-brand= link_to 'G.E.R.A', root_path
    %li.sidebar-brand= link_to 'Mission Objective', mission_objective_path
    - if user_signed_in?
      %li.sidebar-brand= link_to "#{current_user.lastName}: Personnel File", edit_user_registration_path
      %li.sidebar-brand= link_to "Intelligence", contribution_path
      %li.sidebar-brand= link_to 'Missions', wizard_path
      %li.sidebar-brand= link_to 'Log out', destroy_user_session_path, :method => 'delete'
    - else
      %li.sidebar-brand= link_to 'LOGIN', new_user_session_path
      %li.sidebar-brand= link_to 'Join The Alliance', new_user_registration_path


