#sidebar-wrapper
 %ul.sidebar-nav
  %li.sidebar-brand= link_to 'G.E.R.A', root_path, :id => 'hq'
  %li.sidebar-brand= link_to 'Mission Objective', mission_objective_path, :id => 'misobj'
  - if current_user.lastName!=nil and current_user.lastName.length < 8
   %li.sidebar-brand= link_to "#{current_user.lastName}: File", user_path(current_user), :id=>"prof"
  -else
   %li.sidebar-brand= link_to "Personnel File", user_path(current_user), :id=>"prof"
  %li.sidebar-brand= link_to "Buy Equipment", store_show_path
  %li.sidebar-brand= link_to "Intelligence", contribution_path, :id => "contrib"
  %li.sidebar-brand= link_to 'Missions', missions_path, :id => "missions"
  - if current_user.admin?
   %li.sidebar-brand= link_to 'Statistics', statistics_path, :id => 'stats'
  %li.sidebar-brand= link_to 'Log out', destroy_user_session_path, :method => 'delete', :id => "lgout"

