#sidebar-wrapper
  %ul.sidebar-nav
    %li.sidebar-brand= link_to 'G.E.R.A', root_path, :id => "HQ"
    - if user_signed_in?
      %li.sidebar-content= link_to 'Log out', destroy_user_session_path, :method => 'delete'
      %li.sidebar-content= link_to "#{current_user.firstName} #{current_user.lastName}", edit_user_registration_path
      %li.sidebar-content= link_to "Big Petrol Contributions", contribution_path, :id => 'bpc'
      - if current_user.admin?
        %li.sidebar-content= link_to "Statistics", statistics_path
        %li.sidebar-content= link_to "Users", users_path
    - else
      %li.sidebar-content= link_to 'LOGIN', new_user_session_path, :id => 'login'
      %li.sidebar-content= link_to 'Join The Alliance', new_user_registration_path, :id => 'joinAlli'
    %li.sidebar-content= link_to 'Missions', wizard_path, :id => 'mish'
