!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Carbonator'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'CC5K'}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %body
      - # %header
      %div{"style" => "width: 1170px; margin-left: auto; margin-right: auto;"}
        = render 'layouts/navigation'
        %main{:role => "main"}
          = render 'layouts/messages'
          = yield
          %div{"style" => "height:128px"}
          = image_tag "box-rock.png"
        %div{"style" => "color:#DDDDDD"}
          Copyright 2014 CarbonCounter5000 ----
          = mail_to "webmaster@cc5k.com", "Contact Us"
          = image_tag "cc5kstones.png"
