!!!
%html{"style" => "width: 1170px; height: 1080px;"}
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'G.E.R.A'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'GERA'}"}
    = favicon_link_tag "res_fist.png"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    
    %body
      #wrapper
        = render 'layouts/navigation'
        %main{:role => "main"}
          = render 'layouts/messages'
          = yield
        %div{:style =>"text-align:center;"}
          Copyright 2014 G.E.R.A ----
          = mail_to "webmaster@GERA.com", "Contact Us"
          = image_tag "cc5kstones.png"

